# Dependencies shared across backend services for local testing
fastapi
uvicorn[standard]
pytest
pytest-cov
sqlmodel
python-dotenv
pydantic-settings
python-multipart
psycopg2-binary
httpx
pydantic[email]
email-validator
Faker
python-jose
python-jose[cryptography]
bcrypt==4.0.1
passlib==1.7.4
